---
repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        language: system
        entry: cargo fmt --
        types: [rust]
      - id: cargo-check
        name: cargo check
        language: system
        entry: cargo check --workspace --all-targets --all-features --quiet
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        language: system
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy-no-features
        name: cargo clippy (no features)
        language: system
        entry: cargo clippy --workspace --all-targets --no-default-features -- -D
          warnings
        types: [rust]
        pass_filenames: false
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck --external-sources
        types: [shell]
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt --indent 4 --diff --write
        types: [shell]
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.0
    hooks:
      - id: yamlfix
